<%
var groupedClasses = classes.reduce((g, entity) => {
    g[entity.path] = g[entity.path] || []; //Check the value exists, if not assign a new array
    g[entity.path].push(entity); //Push the new value to the array

    return g; //Very important! you need to return the value of g or it will become undefined on the next pass
}, {});
%>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink="">Generated application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <% Object.keys(groupedClasses).forEach(x => { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"><%= x %></a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <% groupedClasses[x].forEach(x => { %>
                            <a class="dropdown-item" routerLink="administration/<%= x.path %>/<%= x.entity.name %>"><%= x.entity.nameOrigin %></a>
                        <% }) %>
                    </div>
                </li>
            <% }) %>
        </ul>
        <% if(options.auth) { %>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit" (click)="logout()">Log out</button>
        </form>
        <% } %>
    </div>
</nav>

<section id="main" class="container" role="main">
    <router-outlet></router-outlet>
</section>

</body>
