<div class="form-group">
    <label for="<%= entity.alias || entity.name %>-edit"><%= entity.properties.get('label') || entity.name %></label>
    <div><p-calendar id="<%= entity.alias || entity.name %>-edit" [showIcon]="true" showTime="true" formControlName="<%= entity.alias || entity.name %>"></p-calendar></div>
</div>
