<div class="form-group">
    <label for="<%= entity.alias || entity.name %>-edit"><%= entity.properties.get('label') || entity.name %></label>
    <input class="form-control" id="<%= entity.alias || entity.name %>-edit" formControlName="<%= entity.alias || entity.name %>"/>
</div>
