<% const build = (parent, callback) => (parent.children || []).forEach(x => {
    callback({button: true, checkbox: true, table: true, panel: true, combo: true, combobox: true, date: true}[x.stereotype] ? x.stereotype : 'default', x);
}) %>

<h3>Form <%= entity.name %></h3>
<form [formGroup]="form">
    <% build(entity, (controlName, childEntity) => { %>
        <%- include(`partial/controls/${controlName}`, {entity: childEntity, build: build}) -%>
    <% }) %>
</form>

<div *ngIf="response" class="card">
    <div class="card-body">
        <h5 class="card-title">Response</h5>
        <pre>{{response | json}}</pre>
    </div>
</div>
